                                                                        <div class="row   justify-content-center align-items-center">
                                                                            <div class="col-12 col-md-8 col-lg-8">

                                                                                <!-- Form -->

                                                                                <form class="form-example"    method="post"   >

                                                                                    <!-- Input fields -->
                                                                                    <br/>
                                                                                    <br/>
                                                                                    <!-- Add INVISIBLE form field to handle update !!!! -->
                                                                                    <input   type="number"   style="display: none"    name="id"  class="edit_invisibleId"/>

                                                                                    <!--ID -->
                                                                                    <div class="form-group">
                                                                                        <label for="ids">id :</label>
                                                                                        <input type="number" class="form-control username edit_visibleId_class" disabled   />
                                                                                    </div>

                                                                                    <div th:replace="/user_edit_form_fields"></div>


                                                                                    <!-- Register Button -->
                                                                                    <div style="margin-top: 10px" class="form-group">
                                                                                        <div class="col-sm-10 col-md-offset-6 controls">
                                                                                            <button    type="submit" class="btn btn-primary SaveAndClose">Edit user</button>

                                                                                        </div>
                                                                                    </div>

                                                                                    <!-- End input fields -->

                                                                                </form>

                                                                                <!-- Form end -->

                                                                            </div>
                                                                        </div>
